# Do not upload raw data
data/raw/
data/cleaned/
tableau/

# # Generated outputs - not tracked in version control
reports/
outputs/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/

# Mac
.DS_Store
